Project Name: Predicting Fake News.
Project Memeber: Saurabh Chaudhary, Charan Raju M.
Cs-675.

In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import  LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
import re
import string

In [2]:
fake_news_path = "C:\\Users\\89tom\\OneDrive\\Desktop\\Pace\\DataScienceCS675\\Project\\fake_news\\Fake.csv" 
actual_news_path = "C:\\Users\\89tom\\OneDrive\\Desktop\\Pace\\DataScienceCS675\\Project\\fake_news\\True.csv"

In [3]:
# importing fake news dataset
df_fake = pd.read_csv(fake_news_path)
df_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
# adding a new column for classification
# 1 means fake & 0 means actual news

In [5]:
df_fake['classification'] = 1
df_fake.head()

,title,text,subject,date,classification
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1

In [6]:
#importing actual news
df_actual = pd.read_csv(actual_news_path)
df_actual.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [7]:
df_actual['classification'] = 0
df_actual.head()

,title,text,subject,date,classification
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0

In [8]:
#combining both datasets
df = pd.concat([df_fake,df_actual],axis=0)
df.head()

,title,text,subject,date,classification
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1

In [9]:
#Shuffling all the rows randomly
df = df.sample(frac = 1).reset_index(drop=True)
df.head()

,title,text,subject,date,classification
0,Fear of Iranian general left Iraqi Kurdish oil...,BAGHDAD/LONDON (Reuters) - When the Iraqi army...,worldnews,"October 25, 2017",0
1,North Carolina governor concedes election to D...,"WINSTON-SALEM, N.C. (Reuters) - North Carolina...",politicsNews,"December 5, 2016",0
2,Trump Jr. Just ‘Liked’ Tweet Praising Mosque ...,When it comes to how shameless the Trump famil...,News,"January 31, 2017",1
3,Breaking: Secretary Of State Debates Abandoni...,Donald Trump s horrible decisions and disgusti...,News,"July 24, 2017",1
4,"U.S. judge approves court, police accord for F...",(Reuters) - A federal judge on Tuesday approve...,politicsNews,"April 19, 2016",0

In [10]:
#merging both title and text columns
df['content'] = df['title'] + df['text']
df.head()

,title,text,subject,date,classification,content
0,Fear of Iranian general left Iraqi Kurdish oil...,BAGHDAD/LONDON (Reuters) - When the Iraqi army...,worldnews,"October 25, 2017",0,Fear of Iranian general left Iraqi Kurdish oil...
1,North Carolina governor concedes election to D...,"WINSTON-SALEM, N.C. (Reuters) - North Carolina...",politicsNews,"December 5, 2016",0,North Carolina governor concedes election to D...
2,Trump Jr. Just ‘Liked’ Tweet Praising Mosque ...,When it comes to how shameless the Trump famil...,News,"January 31, 2017",1,Trump Jr. Just ‘Liked’ Tweet Praising Mosque ...
3,Breaking: Secretary Of State Debates Abandoni...,Donald Trump s horrible decisions and disgusti...,News,"July 24, 2017",1,Breaking: Secretary Of State Debates Abandoni...
4,"U.S. judge approves court, police accord for F...",(Reuters) - A federal judge on Tuesday approve...,politicsNews,"April 19, 2016",0,"U.S. judge approves court, police accord for F..."

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44898 entries, 0 to 44897
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           44898 non-null  object
 1   text            44898 non-null  object
 2   subject         44898 non-null  object
 3   date            44898 non-null  object
 4   classification  44898 non-null  int64
 5   content         44898 non-null  object
dtypes: int64(1), object(5)
memory usage: 2.1+ MB

In [12]:
df.shape

(44898, 6)

In [13]:
df.isnull().sum()

title             0
text              0
subject           0
date              0
classification    0
content           0
dtype: int64

In [14]:
#No missing values

In [15]:
# Removing special characters from dataset
def replace_text(text):
    new_text = text.lower()
    new_text = re.sub('\[.*?\]','',new_text)
    new_text = re.sub("\\W","",new_text)
    new_text = re.sub('https?://\S+|www\.\S+','',new_text)
    new_text = re.sub('<.*?>+','',new_text)
    new_text = re.sub('\n','',new_text)
    new_text = re.sub('\w*\d\w*','',new_text)
    new_text = re.sub('[%s]'% re.escape(string.punctuation),'',new_text)
    return new_text

In [16]:
df['content'] = df['content'].apply(replace_text)

In [17]:
X = df['content']
y = df['classification']

In [18]:
# vectorizing the data
vectorization = TfidfVectorizer()
X_vector = vectorization.fit_transform(X)

In [19]:
X_train, X_test, y_train,y_test = train_test_split(X_vector,y,test_size=0.25,random_state=42)

In [20]:
# fitting the data to the model
model = LogisticRegression()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.5238307349665924

In [21]:
y_pred = model.predict(X_test)
accuracy_score(y_test,y_pred)

0.5238307349665924

In [22]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      0.01      0.02      5391
           1       0.52      1.00      0.69      5834

    accuracy                           0.52     11225
   macro avg       0.76      0.50      0.35     11225
weighted avg       0.75      0.52      0.36     11225

In [23]:
#score is not satisfactory

In [24]:
df = pd.concat([df_fake,df_actual],axis=0)
df = df.sample(frac = 1).reset_index(drop=True)
df['content'] = df['title'] + df['text']

In [25]:
# creating another method to process the text
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

port_stem = PorterStemmer()

def clean_and_lower(text):
    cleaned_text = re.sub(r'[^A-Za-z0-9]+', ' ', text)
    cleaned_text = cleaned_text.lower()
    cleaned_text = cleaned_text.split()
    cleaned_text = [port_stem.stem(word) for word in cleaned_text if not word in stopwords.words('english')]
    cleaned_text = ' '.join(cleaned_text)
    
    return cleaned_text

In [26]:
df['content'] = df['content'].apply(clean_and_lower)

In [57]:
X = df['content']
y = df['classification']

In [58]:

X_train, X_test, y_train,y_test = train_test_split(X,y,test_size=0.25,stratify=y,random_state=42)
X_train = vectorization.fit_transform(X_train)
X_test = vectorization.transform(X_test)

In [59]:
print(y_train.value_counts())
print(y_test.value_counts())

1    17610
0    16063
Name: classification, dtype: int64
1    5871
0    5354
Name: classification, dtype: int64

In [60]:
Logistic_model = LogisticRegression()
Logistic_model.fit(X_train,y_train)
Logistic_model.score(X_test,y_test)

0.9865478841870824

In [61]:
y_pred_LR = Logistic_model.predict(X_test)

print(classification_report(y_test,y_pred_LR))

              precision    recall  f1-score   support

           0       0.98      0.99      0.99      5354
           1       0.99      0.98      0.99      5871

    accuracy                           0.99     11225
   macro avg       0.99      0.99      0.99     11225
weighted avg       0.99      0.99      0.99     11225

In [62]:
from sklearn.tree import DecisionTreeClassifier
DT_model = DecisionTreeClassifier()
DT_model.fit(X_train,y_train)
DT_model.score(X_test,y_test)

0.995902004454343

In [63]:
y_pred_DT = DT_model.predict(X_test)

print(classification_report(y_test,y_pred_DT))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      5354
           1       1.00      1.00      1.00      5871

    accuracy                           1.00     11225
   macro avg       1.00      1.00      1.00     11225
weighted avg       1.00      1.00      1.00     11225

In [65]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

threshold = 0.5  
binary_predictions_DT = (y_pred_DT > threshold).astype(int)

# Calculate metrics
accuracy_DT = accuracy_score(y_test, binary_predictions_DT)
precision_DT = precision_score(y_test, binary_predictions_DT)
recall_DT = recall_score(y_test, binary_predictions_DT)
f1_DT = f1_score(y_test, binary_predictions_DT)

# Confusion Matrix
conf_matrix_DT = confusion_matrix(y_test, binary_predictions_DT)

print(f"Accuracy_DT: {accuracy_DT:.4f}")
print(f"Precision_DT: {precision_DT:.4f}")
print(f"Recall_DT: {recall_DT:.4f}")
print(f"F1-Score_DT: {f1_DT:.4f}")
print("\nConfusion Matrix DT:")
print(conf_matrix_DT)
print()

 
binary_predictions_LR = (y_pred_LR > threshold).astype(int)

# Calculate metrics
accuracy_LR = accuracy_score(y_test, binary_predictions_LR)
precision_LR = precision_score(y_test, binary_predictions_LR)
recall_LR = recall_score(y_test, binary_predictions_LR)
f1_LR = f1_score(y_test, binary_predictions_LR)

# Confusion Matrix
conf_matrix_LR = confusion_matrix(y_test, binary_predictions_LR)

print(f"Accuracy_LR: {accuracy_LR:.4f}")
print(f"Precision_LR: {precision_LR:.4f}")
print(f"Recall_LR: {recall_LR:.4f}")
print(f"F1-Score_LR: {f1_LR:.4f}")
print("\nConfusion Matrix LR:")
print(conf_matrix_LR)

Accuracy_DT: 0.9959
Precision_DT: 0.9956
Recall_DT: 0.9966
F1-Score_DT: 0.9961

Confusion Matrix DT:
[[5328   26]
 [  20 5851]]

Accuracy_LR: 0.9865
Precision_LR: 0.9894
Recall_LR: 0.9848
F1-Score_LR: 0.9871

Confusion Matrix LR:
[[5292   62]
 [  89 5782]]

In [50]:
import tensorflow as tf
from tensorflow import keras

from tensorflow.keras.layers import Embedding, LSTM, Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

X_train, X_test, y_train,y_test = train_test_split(X,y,test_size=0.25,stratify=y,random_state=42)
# converting words into token
tokenizer = Tokenizer(num_words=500, oov_token = "<OOV>")
tokenizer.fit_on_texts(X_train)

# creating sequences
sequences = tokenizer.texts_to_sequences(X_train)


# padding sequences
padded = pad_sequences(sequences, maxlen=10, padding='post', truncating='post')


RNN_model = Sequential()
RNN_model.add(Embedding(input_dim=500, output_dim=32, input_length=10))
RNN_model.add(LSTM(32))
RNN_model.add(Dense(1,activation='sigmoid'))
RNN_model.compile(optimizer='adam', loss= 'binary_crossentropy', metrics = ['accuracy'])


RNN_model.fit(padded,y_train,epochs=50)
sequences_test = tokenizer.texts_to_sequences(X_test)
padded_test = pad_sequences(sequences_test, maxlen=10, padding='post', truncating='post')
RNN_pred = RNN_model.predict(padded_test)

Epoch 1/50
1053/1053 [==============================] - 14s 10ms/step - loss: 0.1895 - accuracy: 0.9260
Epoch 2/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.1238 - accuracy: 0.9510
Epoch 3/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.1167 - accuracy: 0.9532
Epoch 4/50
1053/1053 [==============================] - 10s 10ms/step - loss: 0.1121 - accuracy: 0.9551
Epoch 5/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.1069 - accuracy: 0.9566
Epoch 6/50
1053/1053 [==============================] - 10s 10ms/step - loss: 0.1022 - accuracy: 0.9581
Epoch 7/50
1053/1053 [==============================] - 9s 9ms/step - loss: 0.0979 - accuracy: 0.9606
Epoch 8/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0928 - accuracy: 0.9610
Epoch 9/50
1053/1053 [==============================] - 11s 10ms/step - loss: 0.0887 - accuracy: 0.9626
Epoch 10/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0856 - accuracy: 0.9637
Epoch 11/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0817 - accuracy: 0.9661
Epoch 12/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0794 - accuracy: 0.9677
Epoch 13/50
1053/1053 [==============================] - 9s 9ms/step - loss: 0.0767 - accuracy: 0.9683
Epoch 14/50
1053/1053 [==============================] - 10s 10ms/step - loss: 0.0746 - accuracy: 0.9698
Epoch 15/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0713 - accuracy: 0.9705
Epoch 16/50
1053/1053 [==============================] - 10s 10ms/step - loss: 0.0681 - accuracy: 0.9722
Epoch 17/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0661 - accuracy: 0.9731
Epoch 18/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0633 - accuracy: 0.9749
Epoch 19/50
1053/1053 [==============================] - 10s 10ms/step - loss: 0.0601 - accuracy: 0.9755
Epoch 20/50
1053/1053 [==============================] - 10s 10ms/step - loss: 0.0562 - accuracy: 0.9769
Epoch 21/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0549 - accuracy: 0.9769
Epoch 22/50
1053/1053 [==============================] - 10s 10ms/step - loss: 0.0524 - accuracy: 0.9788
Epoch 23/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0495 - accuracy: 0.9796
Epoch 24/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0469 - accuracy: 0.9808
Epoch 25/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0453 - accuracy: 0.9818
Epoch 26/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0421 - accuracy: 0.9821
Epoch 27/50
1053/1053 [==============================] - 11s 10ms/step - loss: 0.0403 - accuracy: 0.9832
Epoch 28/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0397 - accuracy: 0.9836
Epoch 29/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0353 - accuracy: 0.9858
Epoch 30/50
1053/1053 [==============================] - 9s 9ms/step - loss: 0.0339 - accuracy: 0.9863
Epoch 31/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0339 - accuracy: 0.9863
Epoch 32/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0306 - accuracy: 0.9876
Epoch 33/50
1053/1053 [==============================] - 10s 10ms/step - loss: 0.0288 - accuracy: 0.9881
Epoch 34/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0265 - accuracy: 0.9898
Epoch 35/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0259 - accuracy: 0.9895
Epoch 36/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0241 - accuracy: 0.9905
Epoch 37/50
1053/1053 [==============================] - 10s 10ms/step - loss: 0.0236 - accuracy: 0.9909
Epoch 38/50
1053/1053 [==============================] - 10s 10ms/step - loss: 0.0230 - accuracy: 0.9911
Epoch 39/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0215 - accuracy: 0.9920
Epoch 40/50
1053/1053 [==============================] - 10s 10ms/step - loss: 0.0197 - accuracy: 0.9926
Epoch 41/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0195 - accuracy: 0.9924
Epoch 42/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0169 - accuracy: 0.9934
Epoch 43/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0163 - accuracy: 0.9942
Epoch 44/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0194 - accuracy: 0.9928
Epoch 45/50
1053/1053 [==============================] - 10s 10ms/step - loss: 0.0147 - accuracy: 0.9953
Epoch 46/50
1053/1053 [==============================] - 10s 10ms/step - loss: 0.0143 - accuracy: 0.9949
Epoch 47/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0144 - accuracy: 0.9952
Epoch 48/50
1053/1053 [==============================] - 10s 10ms/step - loss: 0.0141 - accuracy: 0.9951
Epoch 49/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0116 - accuracy: 0.9963
Epoch 50/50
1053/1053 [==============================] - 10s 9ms/step - loss: 0.0130 - accuracy: 0.9960
351/351 [==============================] - 3s 5ms/step

In [69]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

threshold = 0.5  
binary_predictions = (RNN_pred > threshold).astype(int)

# Calculate metrics
accuracy = accuracy_score(y_test, binary_predictions)
precision = precision_score(y_test, binary_predictions)
recall = recall_score(y_test, binary_predictions)
f1 = f1_score(y_test, binary_predictions)

# Confusion Matrix
conf_matrix = confusion_matrix(y_test, binary_predictions)

print(f"Accuracy: {accuracy:.4f}")
print(f"Precision: {precision:.4f}")
print(f"Recall: {recall:.4f}")
print(f"F1-Score: {f1:.4f}")
print("\nConfusion Matrix:")
print(conf_matrix)

Accuracy: 0.9494
Precision: 0.9450
Recall: 0.9591
F1-Score: 0.9520

Confusion Matrix:
[[5026  328]
 [ 240 5631]]

In [73]:
def prediction(news):
    news_test = {'news_to_predict':[news]}
    df_news = pd.DataFrame(news_test)
    df_news['news_to_predict'] = df_news['news_to_predict'].apply(clean_and_lower)
    new_X_test = df_news['news_to_predict']
    new_X_test = vectorization.transform(new_X_test)
    pred_LR = Logistic_model.predict(new_X_test)
    pred_DT = DT_model.predict(new_X_test)
    
    if (pred_LR[0] == 1):
        print("This News is Fake")
    elif (pred_LR[0] == 0):
        print("This is an actual News")

In [88]:
news = str(input())
prediction(news)

President Joe Biden’s national security adviser, Jake Sullivan, said Friday that there will be a transition to another phase of the war that is focused on “more precise ways” of targeting Hamas leadership.  “There will be a transition to another phase of this war, one that is focused in more precise ways on targeting the leadership and on intelligence driven operations that continues to deal with the ongoing threat that Hamas poses,” Sullivan said in a news conference in Tel Aviv.  Sullivan also said that the US wants to see results on Israel’s intent to avoid civilian casualties in Gaza.  “Israel selects targets and tries to distinguish between targets that hit Hamas, and those that that might take the lives of innocent civilians,” Sullivan said in response to a question from CNN’s Alex Marquardt.  “What we have consistently said is that Israel has the intent to make sure that it is drawing those distinctions clearly and in a sustainable way. And we want to see the results match up to that,” Sullivan added.  Sullivan was communicating a clear message to Israel’s government, days after a public rift opened between Biden and Israeli Prime Minister Benjamin Netanyahu over the mounting civilian casualties in Gaza.
This is an actual News

In [86]:
def prediction_NN(news):
    news_test = {'news': [news]}
    df_news = pd.DataFrame(news_test)
    df_news['news'] = df_news['news'].apply(clean_and_lower)
    news_test = df_news['news']
    tokenizer.fit_on_texts(news_test)
    news_sequences = tokenizer.texts_to_sequences(news_test)
    padded_news = pad_sequences(news_sequences, maxlen=10, padding='post', truncating='post')
    RNN_pred = RNN_model.predict(padded_news)
    
    if RNN_pred > 0.5:
        print("This is an actual News")
        
    elif RNN_pred <= 0.5:
        print("This News is Fake")

In [89]:
news = str(input())
prediction_NN(news)

President Joe Biden’s national security adviser, Jake Sullivan, said Friday that there will be a transition to another phase of the war that is focused on “more precise ways” of targeting Hamas leadership.  “There will be a transition to another phase of this war, one that is focused in more precise ways on targeting the leadership and on intelligence driven operations that continues to deal with the ongoing threat that Hamas poses,” Sullivan said in a news conference in Tel Aviv.  Sullivan also said that the US wants to see results on Israel’s intent to avoid civilian casualties in Gaza.  “Israel selects targets and tries to distinguish between targets that hit Hamas, and those that that might take the lives of innocent civilians,” Sullivan said in response to a question from CNN’s Alex Marquardt.  “What we have consistently said is that Israel has the intent to make sure that it is drawing those distinctions clearly and in a sustainable way.
1/1 [==============================] - 0s 32ms/step
This is an actual News